---
import Layout from "./Layout.astro";

const {
	content: { title, description, pubDate, image },
} = Astro.props;

const fullTitle = `${title} by Eddie Cianci`
---

<Layout title={fullTitle}>

  <meta slot="seo" name="description" content={description} />

  <meta slot="seo" property="twitter:card" content="summary_large_image" />
  <meta slot="seo" property="twitter:url" content={Astro.url} />
  <meta slot="seo" property="twitter:title" content={title} />
  <meta slot="seo" property="twitter:description" content={description} />
  <meta slot="seo" property="twitter:image" content={new URL(image.path, Astro.url)} />

  <meta slot="seo" property="og:type" content="website" />
  <meta slot="seo" property="og:url" content={Astro.url} />
  <meta slot="seo" property="og:title" content={title} />
  <meta slot="seo" property="og:description" content={description} />
  <meta slot="seo" property="og:image" content={new URL(image.path, Astro.url)} />

  <article
    class="relative w-full prose prose-zinc max-w-3xl dark:prose-invert mx-auto">

    <a href="/blog" aria-label="Go back to articles"
      class="absolute -mt-2 lg:-ml-16 xl:-ml-24 flex no-underline h-10 w-10 justify-center items-center rounded-full bg-zinc-50 shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 text-zinc-200 dark:text-zinc-600">
      &larr;
    </a>

    <header
      class="flex flex-col">

      <time datetime={new Date(pubDate).toISOString()}
        class="pl-3 border-l border-l-zinc-200 dark:border-l-zinc-500 ml-14 lg:ml-0 mb-6 text-base text-zinc-500 dark:text-zinc-400/80">

        {pubDate}
      </time>

      <h1
        class="font-black text-4xl leading-10 lg:text-5xl lg:leading-tight tracking-tight text-zinc-800 dark:text-zinc-100">

        {title}
      </h1>
    </header>

    <img src={image.path} alt={image.alt} width={720} height={480}
      class="mb-20 rotate-3 rounded-xl object-cover bg-zinc-800 ring-1 ring-zinc-300 dark:ring-white/10" />

    <slot />

    <a href="#top" aria-label="Go back to top"
      class="absolute left-1/2 -ml-5 mt-4 flex no-underline h-10 w-10 justify-center items-center rounded-full bg-zinc-50 shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 text-zinc-200 dark:text-zinc-600">
      &uarr;
    </a>

  </article>
</Layout>
